/* Name: Haosen Yao Student Id: 8919605 Condor Id: Hyao9605 */

html {
    /* font	Sets all the font properties in one declaration	font-style, font-variant, font-weight, font-size/line-height, font-family, caption, icon, menu, message-box, small-caption, status-bar, inherit
    font-family	Specifies the font family for text	family-name, generic-family, inherit
    font-size	Specifies the font size of text	xx-small, x-small, small, medium, large, x-large, xx-large, smaller, larger, length, %, inherit
    font-style	Specifies the font style for text	normal, italic, oblique, inherit
    font-variant	Specifies whether or not a text should be displayed in a small-caps font	normal, small-caps, inherit
    font-weight	Specifies the weight of a font	normal, bold, bolder, lighter,
    100, 200, 300, 400, 500, 600, 700, 800, 900, inherit
    Careful, many of these are not supported! */
    font: normal normal normal 20px Arial, sans-serif
}


h1, h2 {
    font-variant: small-caps;
    color: darkslategray;
}

figcaption {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.2rem;
}

q {
    font-style: italic;
    font-family: cursive;
    font-size: 1.2rem; 
}

footer p {
    font-size: 0.5rem; 
}

body {
    width: 80%; 
    max-width: 1250px; 
    padding: 2rem;
    margin: 0 auto;
    background-color: hsla(210, 50%, 50%, 0.5);
}

.main-section-figure img {
    width: 50%; 
    height: 50%; 
    padding: 0.5rem;
    border-radius: 1rem;
}

.main-section-figure {
    width: 80%; 
    height: 80%; 
    padding: 1rem;
    margin: 2rem auto;
}

video {
    width: 50%;
    height: 50%; 
    padding: 0.5rem;
    border: 2px solid rgb(102, 153, 51);
    border-radius: 0.5rem;
}

header, footer {
    text-align: center;
    border: 2px solid #333333;
    background: rgb(240, 240, 240);
    background: linear-gradient(to right, rgb(240, 240, 240), rgb(100, 250, 250));
}

.main-section {
    text-align: center;
    padding: 1.5rem;
    /* background-color: hsla(210, 50%, 50%, 0.5); */
}

#Biography {
    text-align: left;
}

#Quote {
    padding: 0.5em;
    border: 0.1rem solid #999;
    box-shadow: 0.2em 0.2em 0.2em green;
}

#relative-path-image {
    border: 2px solid rgb(255, 251, 0);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    background-color: hsla(0, 0%, 85%, 0.3);
}

#absolute-path-image {
    border: 2px solid rgb(153, 51, 51); /* Red */
    border-radius: 0.5rem; /* Rounded corners */
    color: rgb(153, 51, 51);
    background-color: hsla(120, 50%, 70%, 0.3);
}

#asideFlow h3 {
    font-variant: normal;
    text-align: center;
    color: rgb(8, 68, 26);
}

#asideFlow table {
    width: 100%;
    margin: auto;
}
th {
    text-align: center;
    font-weight: 100;
    font-style: italic;
    font-variant: normal;
    color: rgb(0, 0, 0);
}
td.title {
    width: 15%;
    border : .25rem solid black;
    text-align: center;
    font-weight: 100;
    font-style: normal;
    font-variant: normal;
    color: rgb(0, 0, 0);
}
td.data {
    width: 15%;
    text-align: center;
    border : .25rem solid black;
    font-weight: 100;
    font-style: italic;
    font-variant: normal;
    color: rgb(3, 7, 31);
}
aside li {
    list-style-type: none;
    line-height: 200%;
    text-align: left;
}
aside li a {
    text-decoration: none;
    color: purple;
}
aside li a:hover {
    color: white;
}

nav {
    background-color: rgb(100, 250, 250);
    padding : .25rem;
    margin : .25rem;
}

nav ul{
    text-align: center;
    list-style-type: none;
    padding: 0 1rem 1.5rem 1rem ;
    margin : 0.25rem;
}

nav ul li a{
    box-sizing:border-box;
    background-color: white;
    border: 0.1rem solid purple;
    display: block;
    text-decoration: none;
    color: purple;
    font-weight: bold;
    font-variant: small-caps;
}

nav ul li a:hover{
    background-color: purple;
    border-color: white; 
    color: white;
}
#firstLink {
    float: left;
    width:50%;
}
#secondLink {
    float: right;
    width: 50%;
}

main {
    box-sizing: border-box;
    clear : both;
    /* margin : .25rem; */
    padding : .25rem;
    float : left;
    width : 70%;
}
aside {
    box-sizing: border-box;
    /* margin : .25rem; */
    float : right;
    padding : .25rem;
    width : 30%;
}
footer {
    clear : both;
}
#Biography{
    float : left;
    width : 45%;
}

#relative-path-image{
    float : right;
    width : 35%;
    margin-top: 0;
}

#Quote {
    clear: both;
}

.form {
    align-self: start;
    padding: auto;
    margin: left;
}

label {
    margin: left;
    padding: auto;
    text-align: left;
}
#color {
    width: 80%; 
    padding: auto;
    margin: auto;
    height: 2rem;
}
#name,#birthdate,#email,#phone,#gender,#message,#submit,textarea,select{
    width: 80%;
    height: auto;
    padding: auto;
    margin: auto;
}
@media (max-width : 900px) {
    html {
        font-size: 15px;
    }
    #Biography{
        float : none;
        width : 80%
    }
    #relative-path-image{
        float : none;
        width : 80%;
        margin-top: 0;
    }
}
@media (max-width : 600px) {
    main {
        width: 100%;
    }
    html {
        font-size: 10px;
    }
    #firstlink {
        float : none;
        width : 80%
    }
    #secondlink{
        float : none;
        width : 80%;
        margin-top: 0;
    }
    aside {
        float: none;
        width: 100%;
        text-align: center;
    }
    table {
        margin: auto;
    }
}